.row {
  height: 100%;

}

img {
    width: 300px;
    transition:transform 0.25s ease;
    margin-right: 100px;
    margin-bottom: 10px;

}



img:hover {
    -webkit-transform:scale(2);
    transform:scale(2);
}